version: '3.9'

services:
  backend: 
    build:
      context: ./backend
    container_name: BearIn_backend 
    ports:
      - "8000:8000" 
    volumes:
      - ./backend:/app
      - /app/node_modules
    depends_on:
      - mongodb
    restart: unless-stopped
    environment:
      - MONGO_URI=mongodb://mongodb:27017/bearin
        
  frontend:
    build:
      context: ./frontend
    container_name: BearIn_frontend
    ports:
      - "5173:5173"
    depends_on:
      - backend
    volumes:
      - ./frontend:/app
      - /app/node_modules
    restart: unless-stopped
    
  mongodb:
    image: mongo
    container_name: BearIn_db
    ports:
      - "27014:27017"
    restart: unless-stopped
    volumes:
      - mongo-data:/data/db

volumes:
  mongo-data: 